/* CSS para o navbar */ 
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff ;
    background-color: #000 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: red !important;
}

/* CSS para o carousel */ 
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;

    }
}

 /* CSS para classe person em imagens da equipe */
.person {
    border: 3px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #333;
}

/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

/* Black buttons with extra padding and without rounded borders */
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}


/* CSS para ajustar deixar todas as imagem dos produtos com o mesmo tamanho */

#produtos{
    max-width: 100%; 
    margin-bottom: 3em;
    margin-top: 3em;"
}

#divProduto1{
    height: 33em;
}

#divProduto2{
    height: 33em;
}

#imagem{
    align-items: center;
    height: 70%;
    width: 70%;
}

/* CSS para o footer*/
footer {
    margin-top: 110px;
}
footer .row {
    width: 100%;
}
footer .row p {
    line-height: 55px;
    margin-bottom: 0;
}
footer .row-cinza-claro {
    height: 200px;
    background-color: #171F26;
    text-align: center;
    margin: 0 auto;
}
footer .row-cinza-escuro {
    height: 60px;
    background-color: #11171D;
    border-top: #242D37 1px solid;
    margin: 0 auto;
}
footer .pull-left {
    font-family: 'OpenSans';
    font-size: 14px;
    color: #666;
    text-align: center;
}
footer .text-roxo {
    color: #623291;
    font-family: 'OpenSans';
    font-weight: bold;
    font-size: 14px;
}

footer .col-popular-post,
footer .col-links,
footer .col-get-in-touch {
    margin-top: 40px;
}
footer .row-cols h4 {
    font-family: 'OpenSans';
    font-size: 16px;
    color: #FFF;
    padding-bottom: 17px;
    border-bottom: #242D37 1px solid;
}
footer .row-cols h5 {
    color: #666;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 0;
}
footer .row-cols time {
    color: #FDE092;
    font-family: Arial;
    font-size: 14px;
}
footer .col-links a {
    color: #FFF;
    font-family: Arial;
    font-size: 14px;
}
footer .col-links .fa {
    margin: 0 6px;
}
footer .col-get-in-touch address {
    color:#666;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 6px;
}

footer .col-get-in-touch address i {
    position: relative;
    top: -14px;
}
footer .col-get-in-touch i {
    color: #9B9B9B;
    font-size: 20px;
    margin: 0 6px;

}
footer .col-get-in-touch .fa{
    margin: 0 6px;
}
footer .col-get-in-touch a {
    color: #FFF;
    font-family: Arial;
    font-size: 14px;
}
footer .col-get-in-touch p {
    color: #FFF;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
}
footer .list-socials {
    margin-top: 4px;
}
footer .list-socials li {
    display: inline-block;
    margin-right: 8px;
}
footer .list-socials a {
    display: block;
    border: #9B9B9B 1px solid;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    text-align: center;
}
footer .list-socials i {
    font-size: 16px;
    margin: 7px auto;
}